*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins;
}

body{
  background:#f5f7ff;
}

/* HEADER */
.header{
  position:fixed;
  top:0;
  width:100%;
  padding:12px 50px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:white;
  box-shadow:0 4px 20px rgba(0,0,0,0.08);
  z-index:1000;
}

.logo{
  display:flex;
  align-items:center;
  gap:12px;
}

.logo img{
  height:48px;
}

.tagline{
  font-size:12px;
  color:#5f2cff;
}

nav{
  display:flex;
  gap:25px;
}

.nav-link{
  text-decoration:none;
  color:#222;
  font-weight:500;
}

.contact-btn{
  background:#5f2cff;
  color:white;
  padding:6px 14px;
  border-radius:20px;
}

/* HERO */
.hero{
  height:90vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:linear-gradient(135deg,#e8ecff,#d5dcff);
}

/* SECTION */
.section{
  padding:80px 20px;
  text-align:center;
}

.container{
  max-width:1000px;
  margin:auto;
}

/* CARDS */
.mv{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:30px;
  flex-wrap:wrap;
}

.card{
  background:white;
  padding:20px;
  width:280px;
  border-radius:10px;
}

/* SERVICES */
.services{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  justify-content:center;
}

.service{
  width:250px;
}

.service-title{
  background:white;
  padding:10px;
  cursor:pointer;
}

.service ul{
  display:none;
}

.service ul li{
  text-align:left;
  padding:5px;
}

/* WHY */
.why{
  display:flex;
  gap:10px;
  justify-content:center;
  flex-wrap:wrap;
}

/* CONTACT */
form{
  margin-top:20px;
  display:flex;
  flex-direction:column;
  gap:10px;
}

input, textarea{
  padding:10px;
}
